$orange: hsl(26, 100%, 55%);

header {
    //justify-content: space-between;
    position: relative;
    @include media-breakpoint-up(lg){  
        margin-top: 2rem;
        padding-bottom: 3.8rem;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: 2px solid rgba(182, 188, 200, 0.25);
    }
}

.logo {
  margin: 3%;
   @include media-breakpoint-up(lg) {
    width: 14.2rem;
    height: 2.2rem;
    opacity: 0.9;
    margin: 0;
   }
   }

// .navbar {
//     width: 100% !important;
// }

.avatar {
     width: 40px;
     height: 40px;
} 

.nav-link {
    &:hover {
   // box-shadow: 0px 1.1rem 0 -8px $orange;
   // width: 30%;
    @include media-breakpoint-up(lg) {
        width: 100%;
        
    }
    }
    @include media-breakpoint-up(lg){
        gap: 1.7rem;
    }
}


.nav-link {
    position: relative;
&::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 4rem;
        height: 3px;
        background-color: hsl(26, 100%, 55%);
        transition: 300ms ease-out;
        transform: scaleX(0);
    }
}

.nav-link:hover::before,
.nav-link:focus::before {
  transform: scaleX(1);
}

.cart, #header-logo {
    width: 1.8rem;
    transition: all 0.2s;
    @include media-breakpoint-up(lg) {
        width: 2.5rem;
    }
  }

  .cart {
    cursor: pointer;
}

.hamburgerClose {
    margin: 5%;
}